<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never"/>
    <title>Konachan-app</title>

    <!-- Import PhotoSwipe Styles -->
    <link rel="stylesheet" href="/web/static/bootstrap.min.css">
    <link rel="stylesheet" href="/web/static/photoswipe.css">
    <link rel="stylesheet" href="/web/static/default-skin/default-skin.css">

    <link rel="shortcut icon" href="/web/static/favicon.ico"/>
    <link rel="bookmark" href="/web/static/favicon.ico"/>
    <!-- A touch of fanciness 💄 -->
    <link href='https://fonts.font.im/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <style>
        body {
            background: #222;
            font-family: 'Bitter', Georgia, Times, sans-serif;
        }

        h1 {
            margin: 2em;
        }

        .pswp__caption__center {
            text-align: center;
        }

        figure {
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }

        img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

        .spacer {
            height: 5em;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }

        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }

        .card {
            transition: all 0.5s;
        }

        .card-enter,
        .card-leave-to {
            opacity: 0;
            transform: scale(0);
        }

        .card-enter-to {
            opacity: 1;
            transform: scale(1);
        }

        .card-move {
            opacity: 1;
            transition: all 0.5s;
        }

        .tag [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }

        .tag [data-role="remove"]:after {
            content: "x";
            padding: 0px 2px;
        }
    </style>
</head>
<body>

<!-- Vue app -->
<div class="container" id="app">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0">

            <h1 class="text-center">
                <a :style="{ color : mode=='remote' ? '': '#333333'}" href="javascript:" title="To Posts"
                   @click.prevent="mode='remote';page=1">Posts</a>
                /
                <a :style="{ color : mode=='album' ? '': '#333333'}" href="javascript:" title="To Album"
                   @click.prevent="mode='album';page=1">Album</a>
            </h1>

            <br>
            <small>
                <select v-model="pageSize">
                    <option value="100">100p</option>
                    <option value="200">200p</option>
                    <option value="300">300p</option>
                    <option value="400">400p</option>
                    <option value="500">500p</option>
                </select>
                <select v-model="orderBy">
                    <option value="my_score">tfidf+Score</option>
                    <option value="tf_idf">tfidf</option>
                    <option value="score">Score</option>
                    <option value="id">id</option>
                </select>
            </small>

            <span v-if="query!=''" class="tag label label-primary">{{query}}
                <span data-role="remove" @click="query=''"></span>
            </span>

            <small style="float: right">
                <a @click.prevent="if(page >1)page-=1" href="javascript:">← Prev</a>
                <a @click.prevent="page+=1" href="javascript:">Next →</a>
            </small>

            <!-- Galley wrapper that contains all items -->
            <transition-group tag="div" class="gallery">
                <figure class="card" v-for="(item, index) in slides" :key="item.id" @click.prevent="goTo(index)">
                    <a :href="item.src" :data-caption="item.tags" :data-width="item.w" :data-height="item.h">
                        <img :src="item.msrc" :alt="item.tags"
                             :style="{ opacity : mode=='remote' && item.fav ? '0.1': ''}">
                    </a>
                    <figcaption ref="figcaption" style="display:none;">
                        <h4 class="all-copy">
                            <a :href="'https://konachan.com/post/show/'+item.id" target="_blank">
                                {{item.id}}
                            </a> -
                            <a v-for="(tag, index) in item.tags.split(' ')" href="javascript:"
                               :onclick="'setQuery(`' + tag + '`)'">
                                {{tag}}
                            </a>
                        </h4>
                        <p>
                            tfidf+Score：{{item.my_score.toFixed(4)}} /
                            tfidf：{{item.tf_idf.toFixed(4)}} /
                            Score：{{item.score}} /
                            Disp: {{item.width}}x{{item.height}} /
                            Size: {{item.size}} /
                            Rate: {{item.rating}}
                        </p>
                        <p>
                            <a v-if="!item.fav" href="javascript:" :onclick="'down(`' + item.id + '`)'">Download</a>
                            <a v-if="item.fav" href="javascript:" :onclick="'del(`' + item.id + '`)'">Delete</a>
                        </p>
                    </figcaption>
                </figure>
            </transition-group>
        </div>
    </div>
</div>

<!-- Some spacing 😉 -->
<div class="spacer"></div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<!-- Import jQuery and PhotoSwipe Scripts -->
<script src="/web/static/photoswipe.min.js"></script>
<script src="/web/static/photoswipe-ui-default.min.js"></script>

<script src="/web/static/axios.min.js"></script>
<script src="/web/static/vue.min.js"></script>

<script>
    var app = new Vue(
        {
            el: '#app',
            data: {
                pageSize: 100,
                page: 1,
                query: "",
                slides: [],
                mode: "remote",
                orderBy: "my_score",
                pswp: PhotoSwipe,
            },
            watch: {
                params: function () {
                    this.updateSlides()
                },
                orderBy: function () {
                    let v = this.orderBy
                    this.slides.sort((a, b) => (a[v] < b[v]) ? 1 : ((b[v] < a[v]) ? -1 : 0));
                }
            },
            computed: {
                params: function () {
                    let params = ['', this.mode, this.pageSize, this.page, this.query];
                    return params.join("/")
                }
            },
            methods: {
                goTo: function (index) {
                    let $pswp = document.querySelectorAll('.pswp')[0];
                    let options = {
                        index: index,
                        bgOpacity: 0.85,
                        showHideOpacity: true,
                        closeOnScroll: false,
                        shareEl: false,
                        getThumbBoundsFn: function (index) {
                            var thumbnail = document.querySelectorAll('.card')[index];
                            var pageYScroll = window.pageYOffset || document.documentElement.scrollTop;
                            var rect = thumbnail.getBoundingClientRect();
                            return {x: rect.left, y: rect.top + pageYScroll, w: rect.width};
                        }
                    };
                    this.pswp = new PhotoSwipe($pswp, PhotoSwipeUI_Default, this.slides, options);
                    this.pswp.init()
                },
                updateSlides: function () {
                    this.slides = [];

                    axios.get(this.params)
                        .then((response) => {
                            // console.log(response);
                            response.data.data.forEach((item) => {
                                let slideItem = {
                                    msrc: this.mode == "remote" ? item.preview_url : `/preview/${item.id}`,
                                    src: this.mode == "remote" ? item.sample_url : `/sample/${item.id}`,
                                    w: item.sample_width,
                                    width: item.width,
                                    h: item.sample_height,
                                    height: item.height,
                                    title: "",
                                    tags: item.tags,
                                    fav: item.is_fav,
                                    id: item.id,
                                    my_score: item.my_score,
                                    score: item.score,
                                    tf_idf: item.tf_idf,
                                    rating: item.rating,
                                    size: item.size,
                                };
                                this.slides.push(slideItem);
                            });
                        })
                        .finally(() => {
                            this.slides.forEach((item, index) => {
                                item.title = this.$refs.figcaption[index].innerHTML
                            });
                            let v = this.orderBy
                            this.slides.sort((a, b) => (a[v] < b[v]) ? 1 : ((b[v] < a[v]) ? -1 : 0));
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            mounted() {
                this.updateSlides()
            }
        }
    );

    function setQuery(tag) {
        app.pswp.close();
        app.page = 1;
        app.pageSize = 100;
        app.query = encodeURIComponent(tag);
    }

    function down(id) {
        app.pswp.close();
        axios.get("/download/" + id).finally(() => {
            app.updateSlides()
        }).catch(function (error) {
            console.log(error);
        });
    }

    function del(id) {
        app.pswp.close();
        axios.get("/delete/" + id).finally(() => {
            app.updateSlides()
        }).catch(function (error) {
            console.log(error);
        });
    }
</script>

</body>
</html>