<html>

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Kona-kore</title>

    <!-- Import PhotoSwipe Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css"
        integrity="sha512-yxWNfGm+7EK+hqP2CMJ13hsUNCQfHmOuCuLmOq2+uv/AVQtFAjlAJO8bHzpYGQnBghULqnPuY8NEr7f5exR3Qw=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css"
        integrity="sha512-Rck8F2HFBjAQpszOB9Qy+NVLeIy4vUOMB7xrp46edxB3KXs2RxXRguHfrJqNK+vJ+CkfvcGqAKMJTyWYBiBsGA=="
        crossorigin="anonymous" />

    <link rel="shortcut icon" href="/web/assets/favicon.ico" />
    <link rel="bookmark" href="/web/assets/favicon.ico" />
    <!-- A touch of fanciness 💄 -->
    <link href='https://fonts.font.im/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <style>
        body {
            background: #222;
            font-family: 'Bitter', Georgia, Times, sans-serif;
        }

        h1 {
            margin: 2em;
        }

        .pswp__caption__center {
            text-align: center;
        }

        figure {
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }

        img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

        .spacer {
            height: 5em;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }

        .tag [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }

        .tag [data-role="remove"]:after {
            content: "x";
            padding: 0px 2px;
        }
    </style>
</head>

<body>

    <!-- Vue app -->
    <div class="container" id="app">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">

                <h1 class="text-center">
                    <a :style="{ color : mode=='remote' ? '': '#333333'}" href="javascript:" title="To Posts"
                        @click.prevent="mode='remote';pageWhat(1)">Posts</a>
                    /
                    <a :style="{ color : mode=='album' ? '': '#333333'}" href="javascript:" title="To Album"
                        @click.prevent="mode='album';pageWhat(1)">Album</a>
                </h1>

                <br>
                <small>
                    <select v-model="pageSize">
                        <option value="100">100p</option>
                        <option value="200">200p</option>
                        <option value="300">300p</option>
                        <option value="400">400p</option>
                        <option value="500">500p</option>
                    </select>
                    <select v-model="orderBy">
                        <option value="my_score">tfidf+Score</option>
                        <option value="tf_idf">tfidf</option>
                        <option value="score">Score</option>
                        <option value="id">id</option>
                        <option value="file_size">filesize</option>
                    </select>
                </small>

                <span v-if="query!=''" class="tag label label-primary">{{query}}
                    <span data-role="remove" @click="query=''"></span>
                </span>

                <small style="float: right">
                    <a @click.prevent="pageWhat(page - (pageSize/100))" href="javascript:">← Prev</a>
                    <a @click.prevent="pageWhat(page + (pageSize/100))" href="javascript:">Next →</a>
                </small>

                <!-- Galley wrapper that contains all items -->
                <transition-group tag="div" class="gallery">
                    <figure v-for="(item, index) in slides" :key="item.id" @click.prevent="goTo(index)">
                        <a :href="item.src" :data-caption="item.tags" :data-width="item.w" :data-height="item.h">
                            <img v-lazy="item.msrc" :alt="item.tags"
                                :style="{ opacity : mode=='remote' && item.fav ? '0.1': ''}">
                        </a>
                        <figcaption ref="figcaption" style="display:none;">
                            <h4 class="all-copy">
                                <a :href="'https://konachan.com/post/show/'+item.id" target="_blank">
                                    {{item.id}}
                                </a> -
                                <a v-for="(tag, index) in item.tags.split(' ')" href="javascript:"
                                    :onclick="'setQuery(`' + tag + '`)'">
                                    {{tag}}
                                </a>
                            </h4>
                            <p>
                                tfidf+Score：{{item.my_score.toFixed(4)}} /
                                tfidf：{{item.tf_idf.toFixed(4)}} /
                                Score：{{item.score}} /
                                Disp: {{item.width}}x{{item.height}} /
                                Size: {{formatBytes(item.file_size)}} /
                                Rate: {{item.rating}}
                            </p>
                            <p>
                                <a v-if="!item.fav" href="javascript:" :onclick="'down(`' + item.id + '`)'">Download</a>
                                <a v-if="item.fav" href="javascript:" :onclick="'del(`' + item.id + '`)'">Delete</a>
                                <a v-if="item.fav" href="javascript:"
                                    :onclick="'down(`' + item.id + '`)'">re-Download</a>
                            </p>
                        </figcaption>
                    </figure>
                </transition-group>
            </div>
        </div>
    </div>

    <!-- Some spacing 😉 -->
    <div class="spacer"></div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Import jQuery and PhotoSwipe Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-lazyload/1.3.3/vue-lazyload.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">

    <script>
        Vue.use(VueLoading);
        Vue.use(VueLazyload)
        Vue.component('loading', VueLoading)

        var app = new Vue(
            {
                el: '#app',
                data: {
                    options: {
                        index: 0,
                        bgOpacity: 0.85,
                        showHideOpacity: true,
                        closeOnScroll: true,
                        shareEl: false,
                        getThumbBoundsFn: function (index) {
                            var thumbnail = document.querySelectorAll('figure')[index];
                            var pageYScroll = window.pageYOffset || document.documentElement.scrollTop;
                            var rect = thumbnail.getBoundingClientRect();
                            return { x: rect.left, y: rect.top + pageYScroll, w: rect.width };
                        }
                    },
                    pageSize: 100,
                    page: 1,
                    query: "",
                    slides: [],
                    mode: "remote",
                    orderBy: "my_score",
                    pswp: PhotoSwipe,
                    cancelSource: null,
                },
                watch: {
                    params: function () {
                        this.updateSlides()
                    },
                    orderBy: function () {
                        let v = this.orderBy
                        this.slides.sort((a, b) => (a[v] < b[v]) ? 1 : ((b[v] < a[v]) ? -1 : 0));
                    }
                },
                computed: {
                    params: function () {
                        let params = ['', this.mode, this.pageSize, this.page, this.query];
                        return params.join("/")
                    }
                },
                methods: {
                    pageWhat: function (p) {
                        if (p >= 1 && this.page !== p) {
                            this.page = p
                        }
                    },
                    goTo: function (index) {
                        let $pswp = document.querySelectorAll('.pswp')[0];
                        this.options.index = index;
                        this.pswp = new PhotoSwipe($pswp, PhotoSwipeUI_Default, this.slides, this.options);
                        this.pswp.init()
                    },
                    updateSlides: function () {
                        let loader = this.$loading.show({
                            container: null,
                            canCancel: false,
                        });

                        this.slides = [];
                        if (this.cancelSource != null) {
                            this.cancelSource.cancel()
                        }
                        this.cancelSource = axios.CancelToken.source()
                        axios.get(this.params, {
                            cancelToken: this.cancelSource.token
                        })
                            .then((response) => {
                                // console.log(response);
                                response.data.data.forEach((item) => {
                                    // item.preview_url = item.preview_url.replace("https", "http")
                                    // item.sample_url = item.sample_url.replace("https", "http")
                                    let slideItem = {
                                        // msrc: this.mode == "remote" ? item.preview_url : `/preview/${item.id}`,
                                        msrc: item.preview_url,
                                        src: this.mode == "remote" ? item.sample_url : `/sample/${item.id}`,
                                        w: item.sample_width,
                                        width: item.width,
                                        h: item.sample_height,
                                        height: item.height,
                                        title: "",
                                        tags: item.tags,
                                        fav: item.is_fav,
                                        id: item.id,
                                        my_score: item.my_score,
                                        score: item.score,
                                        tf_idf: item.tf_idf,
                                        rating: item.rating,
                                        size: item.size,
                                        file_size: item.file_size,
                                    };
                                    this.slides.push(slideItem);
                                });
                            })
                            .finally(() => {
                                this.cancelSource = null;
                                this.slides.forEach((item, index) => {
                                    item.title = this.$refs.figcaption[index].innerHTML
                                });
                                let v = this.orderBy;
                                this.slides.sort((a, b) => (a[v] < b[v]) ? 1 : ((b[v] < a[v]) ? -1 : 0));
                                loader.hide()
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                },
                mounted() {
                    this.updateSlides()
                }
            }
        );

        function setQuery(tag) {
            app.pswp.close();
            app.page = 1;
            app.pageSize = 100;
            app.query = encodeURIComponent(tag);
        }

        function down(id) {
            app.pswp.close();
            let loader = app.$loading.show({
                container: null,
                canCancel: false,
            });
            axios.get("/download/" + id).finally(() => {
                loader.hide()
                app.updateSlides()
            }).catch(function (error) {
                console.log(error);
            });
        }

        function del(id) {
            app.pswp.close();
            let loader = app.$loading.show({
                container: null,
                canCancel: false,
            });
            axios.get("/delete/" + id).finally(() => {
                loader.hide()
                app.updateSlides()
            }).catch(function (error) {
                console.log(error);
            });
        }

        function formatBytes(a, b) {
            if (0 == a) return "0 Bytes";
            let c = 1024, d = b || 2, e = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"],
                f = Math.floor(Math.log(a) / Math.log(c));
            return parseFloat((a / Math.pow(c, f)).toFixed(d)) + " " + e[f]
        }
    </script>

</body>

</html>